[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pudb = "*"
ipython = "*"
mypy = "*"
pylint = "*"
jupyter = "*"
jupyterlab = "*"

[packages]
tensorflow = "~=1.12"
numpy = "*"
scipy = "*"
matplotlib = "*"
seaborn = "*"
pandas = "*"

[requires]
python_version = "3.6"
