[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pudb = "*"
ipython = "*"
mypy = "*"
pylint = "*"

[packages]
tensorflow = "~=1.12"

[requires]
python_version = "3.6"
